* {
    font-family: 'Roboto', sans-serif;
}

.header-card {
    background-color: #1f2937;
    justify-content: center;
    padding-bottom: 50px;
}

.header {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 50px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
}

.links {
    display: flex;
    gap: 10px;
    color: #e5e7eb;
    font-size: 18px;

}

.card {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.card-left, .card-right{
    width: 400px;

}

.card-right {
    display: flex;
    align-content: stretch;
    background-color: #6D757E;
}


.awesome {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

.sub-awesome {
    color: #e5e7eb;
    font-size: 18px;
}

button {
    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: 5px;
    width: 40px;
  
}

